<ng-container *ngIf = "!logged">
  <div>
  <input type="text" [(ngModel)]="login">
  <input type="text" [(ngModel)]="password">
  <button (click)="auth()">Log in</button>
</div>
</ng-container>

<ng-container *ngIf="logged">
<p>Create tasklist:</p>
<div>
  <input type="text" [(ngModel)]="name" />
  <button (click)="createTaskList()">Create new</button>
</div>
<div class = 'tasklist'>
  <div *ngFor="let taskList of tasklist" (click) ="getTasks(taskList)">
      <span (click)="getTasks(taskList)">
          <input type="text" [(ngModel)]="taskList.name" />
        </span>
        <button style="color: red" (click)="deleteTaskList(taskList)"> Удалить</button>
        <button style="color: green" (click)="updateTaskList(taskList)"> Изменить</button>
  </div>
</div>

<br><br>

 TaskLists
<div>
  <div *ngFor="let taskList of tasklists" >
    <span (click) = "getTasks(taskList)">
      <input type="text" [(ngModel)] = "taskList.name">
    </span>
    <button style = "color: red" (click)= "deleteTaskList(taskList)"> Удалить</button>
    <button style = "color: green" (click)= "updateTaskList(taskList)"> Изменить</button>
  </div>
</div>

<br>
Tasks:
<div class = "tasks">
  <div *ngFor="let task of tasks" >
    {{task.id}} - {{task.name}} - {{task.created_at}} - {{task.due_on}} - {{task.status}}
  </div>
</div>
<div>
  <button (click)="logout()">Log out</button>
</div>
</ng-container>